<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <table style="width:100%">
        <tr><th>Tiempo</th><th>Humedad %</th><th>Temperatura ºC</th></tr>
        <tr *ngFor="let item of items | async">
          <td>{{item.hora * 1000 | date:'medium'}}</td>
          <td>{{item.humedad}}</td>
          <td>{{item.temperatura}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-6" *ngIf="isDataAvailable">
      <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
      </canvas>
    </div>

  </div>
</div>
